<h2>Products</h2>

<!-- structural directive - can shape/reshape structure of DOM -->
<div *ngFor="let product of products; index as productId">
  <h3>
    <!-- property binding [] -->
    <!-- allows use of property value in template  -->
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
    <!-- interpolation {{}} allows access to a specific attribute of an elem at txt -->
    {{product.name}}
    </a>
  </h3>

<!-- pipes in description of all products (if present in component) -->
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>

<!-- Displays the new product alert component as a child of the product list -->
<!-- app-product-alerts is selector for component in HTML  -->
<!-- uses property binding with [product] -->
  <app-product-alerts
  [product]="product"
  (notify)="onNotify()">
  </app-product-alerts>
  
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->